// COLORS
$color-primary: #262D33;
$color-secondary: #4592FF;


$color-grey: #BBB;
$color-grey-dark: #656B70;
$color-grey-blue: #40303D;


$color-white: #fff;


// SIZES
$font-size-default: 1.4rem;
$font-size-small: 1.2rem;

